@import "./maps";
@import "./mixin";

.instamgram {
    @include btnfooter(200px, 30px, rgb(148, 148, 226), rgb(50, 50, 119), rgb(136, 41, 41))
}

.facebook {
    @include btnfooter(200px, 30px, rgb(148, 148, 226), rgb(50, 50, 119), rgb(50, 50, 119))
}

.idForm {
    padding: 5px;
    text-align: left
}

.servicioForm {
    @extend .idForm;
    color: rgb(50, 50, 119);
}

header {
    background-image: map-get($map, fondoUno);
    h1 {
        font-family: 'Smooch', cursive;
        color: rgb(55, 115, 150);
    }

    li {
        border-radius: map-get($map, radio);
        display: inline;
        list-style: none;
        &:hover {background-color: #60a9ca}
    }
}

main {
        background-image: map-get($map, fondoDos);

    .card {
        background-image: map-get($map, fondoDos);
        border: #c9f0ef;    
}

 .cardCarousel {
    background-image: map-get($map, fondoDos);
    border: #c9f0ef;
    opacity: 0.7;
    padding: 5px;
    border-radius: 5px;       
}}

 footer {
    padding: 5px;
    background-image: map-get($map, fondoUno);
    display: flex;
}

@media screen and (max-width: 830px) {

    #comentarios {
        width: 260px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}