$background: linear-gradient(#93c3c5, #a9e1e9);
$background2: linear-gradient(#c9f0ef, #78bce4);

header {
    background-image: linear-gradient(#93c3c5, #a9e1e9);

    h1 {
        font-family: 'Smooch', cursive;
        color: rgb(55, 115, 150);
    }

    li {
        display: inline;
        list-style: none;
        border-radius: 5px;
        &:hover {background-color: aliceblue;}
        }
    }

main {
        background-image: linear-gradient(#c9f0ef, #78bce4);
    .card {
        background-image: $background2;
        border: #c9f0ef;
    }
    }

footer {
    background-image: $background;
    height: 40px;
}