#grilla {
    background-color: #c9f0ef;
    display: grid;
    grid-template-areas:
        "parrafo  img    img"
        "parrafo2 img2   img2";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    height: 100%;
}

header {
    height: 50px;
    background-color: #94bed6;
    color: #eaf1f1;
}

header h1 {
    font-family: 'Smooch', cursive;
}

nav li:hover {
    background-color: #35a19e;
}

header li {
    padding: 2px;
    border: 2px solid #35a19e;
    border-radius: 5px;
    display: inline;
}

nav {
    position: absolute;
    top: 25px;
    right: 10px;
}

.parrafoUno {
    grid-area: parrafo;
    align-self: start;
    color: #2b706e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    border: 10px solid #a1aaab;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

h2 {
    color: rgb(139, 106, 63);
    margin: 10px;
}

.imagenUno {
    grid-area: img;
}

.parrafoDos {
    grid-area: parrafo2;
    color: #2b706e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    border: 10px solid #a1aaab;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.imagenDos {
    grid-area: img2;
}

section form {
    padding: 10px;
    margin: 10px;
    color: #2b706e;
}

#grillaForm {
    display: grid;
    background-color: #c9f0ef;
    grid-template-rows: repeat(6, 50px) 90px 200px;
    grid-template-columns: 1fr;
}

footer {
    grid-area: footer;
    background-color: #94bed6;
}


@media screen and (max-width: 850px) {

    #grilla {
        grid-template-areas:
            "parrafo"
            "img"
            "parrafo2"
            "img2";
        grid-template-rows: 1fr 20% 1fr 20%;
        grid-template-columns: 100%;
    }

    header {
        height: 220px;
    }

    header li {
        display: block;
        width: 100px;
    }

    nav {
        position: relative;
        top: 0px;
        right: 40px;
    }

    h2 {
        text-align: center;
    }

    .imagenUno {
        width: 320px;
        height: 300px;
        justify-self: center;
    }

    .imagenDos {
        width: 320px;
        height: 300px;
        justify-self: center;
    }

}

@media screen and (max-width: 540px) {

    header {
        height: 240px;
    }

    #comentarios {
        width: 260px;
    }

    #tyc {
        position: relative;
        top: 13px;
        right: 42px;
    }

    #checked {
        position: relative;
        top: 13px;
    }
}
